<ion-view title="Acerca de iNNOVA" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <span style="color: #ff0000;">
        <strong>iNNOVA </strong>
      </span>es un espacio abierto que reúne a profesionales, estudiantes, emprendedores, líderes comunitarios y vecinos de La Rioja. Debatimos, difundimos ideas y generamos proyectos con una mirada práctica que nos sirvan para intervenir en una agenda pública
      y gubernamental de nuestra ciudad y provincia.&nbsp;Nuestros principios ponen el foco en la necesidad de una mirada estratégica de los asuntos públicos basada en la transparencia, la sustentabilidad y la capacidad de respuesta del Estado y sus intervenciones
      de política pública.&nbsp;</p>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="acercaDeINNOVA-list3">
      <ion-item class="item-avatar" id="acercaDeINNOVA-list-item26" href-inappbrowser="https://api.whatsapp.com/send?phone=543804715177">
        <img src="img/oyFPXTlTRKIw4dj9rIdg_Wat.png">
        <h2>WhatsApp</h2>
        <p style="white-space:normal;">3804715177</p>
      </ion-item>
      <ion-item class="item-avatar" id="acercaDeINNOVA-list-item9" href-inappbrowser="https://www.facebook.com/innovaLaR/">
        <img src="img/TjL2rM2JQoCcxLPWGlba_X4tIMx7cRbqGGI7Jwu0B_Facebook.png">
        <h2>Facebook</h2>
        <p style="white-space:normal;">@innovaLaR</p>
      </ion-item>
      <ion-item class="item-avatar" id="acercaDeINNOVA-list-item10" href-inappbrowser="https://twitter.com/innovalarioja">
        <img src="img/1xwBAzWTOKLZGhGVyntg_mbXHHfaQ36x4V0FeNNki_Twitter.png">
        <h2>Twitter</h2>
        <p style="white-space:normal;">@innovalarioja</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8AGMogRgSiiqYlg8YRMI_WhatsAppImage2018-10-05at12.14.28.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>