<ion-view title="" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Oghd7n5oQoqnZvkXpPVp_DondeVotamos.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div style="margin-right:-20px;">
      <a href-inappbrowser="https://www.padron.gob.ar/" id="page2-button2" style="left:-10px;border-radius:20px 20px 20px 20px;" class="button button-assertive button-large button-full">Consultar Padrón</a>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <p style="text-align: center;">Padrón definitivo publicado por la&nbsp;Cámara Nacional Electoral&nbsp;para las elecciones nacionales de 2019.</p>
      <p>&nbsp;</p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <img src="img/Dahunf8nQnaNJ5gAEANZ_ImagenMenudesplegable.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>