<ion-view title="¿Qué elegimos?" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="QuElegimos-list5">
      <center>
        <ion-item class="item-divider"> Seleciona tu departamento
        </ion-item>
      </center>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="QuElegimos-list4" class="manual-list-fullwidth">
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item14" ui-sref="iNNOVALaRioja.page6()">
        <img src="img/ayb6THcoRf2SCp0RlWKu_ANGEL.png">
        <h2dark>Ángel Vicente Peñaloza
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item17" ui-sref="iNNOVALaRioja.page7()">
        <img src="img/2fo5lmeQ36K9bbQzRsG4_ARAUCO.png">
        <h2dark>Arauco
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item13" ui-sref="iNNOVALaRioja.page5()">
        <img src="img/xBIwE60HT3Cy8bj1aO6u_CAPIAL.png">
        <h2dark>Capital
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item18" ui-sref="iNNOVALaRioja.page8()">
        <img src="img/KdvBYya1TbKk3Gb7RBVY_CASTROBARROS.png">
        <h2dark>Castro Barros
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item19" ui-sref="iNNOVALaRioja.page9()">
        <img src="img/QugIR7BiSROkWZ0rCB4Y_CHAMICAL.png">
        <h2dark>Chamical
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item20" ui-sref="iNNOVALaRioja.page10()">
        <img src="img/PHIOyT9TnSU7p8uyzdEw_CHILECITO.png">
        <h2dark>Chilecito
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item22" ui-sref="iNNOVALaRioja.page11()">
        <img src="img/ImmoBgnAQ2vnfyKEYAxU_CORONEL.png">
        <h2dark>Coronel Felipe Varela
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item21" ui-sref="iNNOVALaRioja.page12()">
        <img src="img/wyzMS5zDSA6gZEdQuTcP_FAMATNA.png">
        <h2dark>Famatina
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item23" ui-sref="iNNOVALaRioja.page13()">
        <img src="img/KEmL9N43Sn2Xv6yJk9Iq_BELGRANO.png">
        <h2dark>General Belgrano
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item24" ui-sref="iNNOVALaRioja.page14()">
        <img src="img/IAz9RETZRqmRWKOyQ17D_LAMADRIDD.png">
        <h2dark>General Lamadrid
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item25" ui-sref="iNNOVALaRioja.page15()">
        <img src="img/NJCnsYrpRRKeYvLMs8GO_JUANFA.png">
        <h2dark>General Juan F. Quiroga
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item28" ui-sref="iNNOVALaRioja.page16()">
        <img src="img/aSeASunSQ25PSBcXAjyr_ORTIZDEOCAMPO.png">
        <h2dark>General Ortíz de Ocampo
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item29" ui-sref="iNNOVALaRioja.page17()">
        <img src="img/PYQo56y4QxupiN0sRxGA_SANMA.png">
        <h2dark>General San Martín
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item30" ui-sref="iNNOVALaRioja.page18()">
        <img src="img/kwDcsytRsGhFaE8Bp9Aw_INDEPENDENCI.png">
        <h2dark>Independencia
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item31" ui-sref="iNNOVALaRioja.page19()">
        <img src="img/wzHZswb8TweNjdNbam1B_ROSARIO.png">
        <h2dark>Rosario Vera Peñaloza
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item32" ui-sref="iNNOVALaRioja.page20()">
        <img src="img/V56BjaN6SweuTto2vyyJ_SANAGASTA.png">
        <h2dark>Sanagasta
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item33" ui-sref="iNNOVALaRioja.page21()">
        <img src="img/FvoichVOR7SN6ptmlpoW_SANBLAS.png">
        <h2dark>San Blas de los Sauces
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="QuElegimos-list-item34" ui-sref="iNNOVALaRioja.page23()">
        <img src="img/0KEuUGrQm6Z0iXyz3NVI_VINCHINA.png">
        <h2dark>Vinchina
          <i class="icon ion-android-arrow-dropright"></i>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>